@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div id="playfield" class="col h-100 w-100" style="position: relative;">
            <!-- Fielded are going here -->
        </div>
        <div class="h-100 border-left toolbar-shadow px-0" style="background-color: white;z-index: 2000;width: 300px; flex: 0 0 auto;">
            <div id="element_list" class="mh-100 accordion">
                <!-- Elements are going here -->
            </div>
        </div>
    </div>
</div>