@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col h-100">
            game
        </div>
        <div class="h-100 border-left toolbar-shadow" style="width: 300px; flex: 0 0 auto;">
            elements
        </div>
    </div>
</div>