html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100vh;
}

#money-count {
    position: relative;
    font-size: 24px;
    top: 10px;
    left: 10px;
    font-weight: bold;
    z-index: 3;
}

#money-count div {
    position: relative;
    font-size: 12px;
    font-weight: lighter;
}

.element {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.accordion-button:not(.collapsed) {
    background-color: #eeeeee;
    color: #212529;
    border-color: #ff6a00;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button {
    display: block;
    text-align: left;
    padding: 0.5rem;
}

.element-box-ln1 {
    display: block;
    margin-bottom: 0;
}

.element-box-ln2 {
    display: block;
    margin-top: 0.4rem;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
}

.badge-tier {
    background: #808080;
    margin-left: 0.2rem;
}

.no-select {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.field_element {
    box-shadow: 0.25rem 0 .75rem rgba(0, 0, 0, .5);
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border-color: #ff6a00;
    border-width: 2px;
    position: absolute;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: auto;
    z-index: 10;
}

.production-bar {
    height: 10px;
    margin-top: 5px;
}
.progress-bar-timer {
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
}

.field_selected {
    z-index: 20;
}


#playfield {
    pointer-events: auto;
}